

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown active">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= current_user.farm.name rescue "" %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Profile', farm_path(current_user.farm) rescue ""  %></li>
        <li><%= link_to 'Profile Edit', edit_farm_path(current_user.farm) rescue ""  %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :get %></li>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
