

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "Sign up", new_user_registration_path, class: "primary-color" %>
    </li>
    <li>
      <button type="button" class="btn btn-success navbar-btn">Sign in</button>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
